# Python
__pycache__/
*.pyc
.python-version
.venv/
*.egg-info/
src/mgd.egg-info/
.orbax-checkpoint*/
checkpoints/

# Data and outputs
data/raw/
data/processed/
outputs/

# Notebooks
*.ipynb_checkpoints/
notebooks/

# OS files
.DS_Store
